<div class="container mt-5">
    <div class="row">
        <div class="col-8 m-auto">
            <form method="post">
                <div class="card">
                    <div class="card-header">
                        SubCategory
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="subcategoryName">
                                SubCategory name
                            </label>
                            <input class="form-controller" placeholder="Enter subcategory name" type="text" name="Name"
                                id="subcategoryName" />
                        </div>
                    </div>
                    <div class="card-footer">
                        <input type="submit" class="btn btn-primary" value="Submit">
                    </div>
                </div>
            </form>
        </div>

    </div>

</div>